section {
  border: 1px solid black;
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: color1;
  margin: auto;
  border-radius: 20px;
}

.containerCaja {
  border: 1px solid black;
  width: 270px;
  height: 570px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  margin: auto;
  border-radius: 25px;
}

.caja1 {
  margin-top: 15px;
  margin-left: 10px;
  width: 150px;
  height: 200px;
  border-radius: 20px;
  background-color: var(--color1);
}

.caja2 {
  margin-top: 15px;
  margin-left: 100px;
  width: 150px;
  height: 80px;
  border-radius: 20px;
  background-color: var(--color1);
}

.caja3 {
  margin: auto;
  margin-top: 15px;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: var(--color1);
}

.caja4 {
  margin-top: 15px;
  margin-left: 110px;
  margin-right: 0px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--color1);
}

:root {
  --color1: #f86032;
}

.linkNext {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}
